.Experience {
  width: 80%;
  margin: auto;
}

.Experience .slick-slide > div {
  width: 100%;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 20px;
  border: 3px solid whitesmoke;
  border-radius: 11px;
  position: relative;
}

.description {
  font-weight: bold;
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

.Experience img {
  position: absolute;
  right: 11%;
  width: 111px;
}

.slick-prev::before,
.slick-next::before {
  background: white;
  color: #1677ff;
}
