.About p > span {
  text-decoration: underline;
}

.social {
  display: flex;
  gap: 1rem;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.social > a {
  gap: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.social > a:hover {
    color: rgb(54, 53, 53);
    text-decoration: underline;
}

